.App {
  text-align: center;
  width: 100vh;
  height: 100vh;
}

.Pictures{
  margin: 10px;
}

img {
  margin: 5px;
}

.Board {
  margin: 123px 55px;
  width: 600px;
  height: 300px;
  border: 2px solid black;
}